<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful nunjucks template</title>
    <link rel="stylesheet" type="text/css" href="public/main.css?cb=1234">
</head>
<body>
    {% include "/app/pages/index.njk" %}

    <script src="nunjucks.js"></script>
    <script type="text/js" href="public/main.js?cb=1234"></script>
</body>
</html>